# Python
__pycache__/
*.py[oc]

# Virtual environment
.venv/

# PyInstaller
build/
dist/

# Editable install metadata
*.egg-info/

# Other
/paper_products
demo (summary products).ipynb
tree.txt
test_wavelength_filter.ipynb
test_windows_stem_fix.py