numpy>=1.20.0
matplotlib>=3.3.0
scikit-learn>=1.0.0
scipy>=1.7.0
opencv-python>=4.5.0
segment-anything>=1.0
kneed>=0.7.0
marslab
rapid
PyQt5
numpy
PyYAML
fs
rich
boto3
gspread
google-api-python-client
sh==0.108
scikit-image
astropy

# NOTE: need to install PyTorch with CUDA (matching local version)
# i.e., uv pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu124

# also, install these
# asdf, https://github.com/MillionConcepts/asdf.git
# pdr, https://github.com/MillionConcepts/pdr.git
# silencio, https://github.com/MillionConcepts/silencio.git
# prettyplot, https://github.com/MillionConcepts/pretty-plot.git